.form-inline {
    justify-content: center; /* Center form in the available space */
    padding: 20px 0; /* Padding around the form */
}

.form-group {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.book-entry {
    background-color: #f4f4f4; /* Sets the background color of each list item to a light grey */
    padding: 10px; /* Adds padding inside each list item */
    margin-top: 5px; /* Adds a top margin to each list item */
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}