body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

body::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url('img/bg_image.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    opacity: 0.4; 
    pointer-events: none; /* Ensures clicks pass through to elements below */
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.container, .container-fluid {
    padding: 20px 15px; /* Consistent padding around the content */
}

.navbar {
    margin-bottom: 20px; /* Space below the navbar */
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}

nav li.active {
    color: #000; /* Black color for active state */
    font-weight: bold;
}

.carousel {
    margin: auto; /* Center the carousel horizontally */
    max-width: 90%; /* Limiting the width of the carousel */
}

.carousel-inner img {
    width: 100%; /* Ensure images are responsive */
    height: auto; /* Maintain aspect ratio */
}

#welcome {
    text-align: center; /* Center-align the welcome message */
    margin: 10px;
    padding: 10px;
}

footer {
    background-color: #333; /* Dark footer background */
    color: white;
    padding: 10px 0;
    margin-top: 20px;
}


label {
    display: block;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* search_function.html */
.books-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures the nav is pushed to the bottom */
    height: 100%; /* Use a minimum height if necessary */
}

.books-container > div {
    width: 100%; /* Ensures the div stretches to full width */
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items to the center, adjust if necessary */
}

.books-container > h1,
.books-container > div > h4 {
    align-self: flex-start;
    width: calc(90%); /* Adjust this width to match the card container width */
    margin-left: auto; /* This centers the div */
    margin-right: auto; /* This centers the div */
    padding-left: 10px; /* This should align with the start of your cards */
}

#searchResults {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap onto the next line */
    justify-content: space-around; /* This spreads out the content */
    list-style-type: none;
    padding: 0 20px; /* Adjust padding to fit your design needs */
    width: 95%; /* Takes up full width of its container */
}

.book-entry {
    display: flex;
    align-items: start; /* Ensure alignment is at the top */
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin: 20px;
    padding: 20px;
    width: calc(50% - 40px); /* Adjust for margin */
    flex: 0 0 calc(50% - 40px); /* Ensures that each entry only takes up half the width minus margin */
}

.book-entry img {
    width: 150px; /* Adjust width as necessary */
    height: 200px; /* Adjust height to maintain aspect ratio */
    object-position: center; /* Center the image within the frame */
    margin-right: 20px; /* Space between the image and the text */
    margin-top: 15px;
}

.book-info {
    display: flex;
    flex-direction: column; /* Stack the text elements vertically */
    justify-content: center; /* Center the text vertically, if needed */
    width: calc(100% - 170px); /* Adjust width accounting for the image and its margin */
}

.book-info button {
    width: 30%; /* Adjust width accounting for the image and its margin */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.book-entry img[alt="No cover image available"] {
    display: none; /* Hide the image element if no cover is available */
}


.book-entry p {
    margin-top: 10px; /* Removes default margin for clean alignment */
}

#nav-pagination {
    width: 100%; /* Full width for better control */
    display: flex;
    justify-content: center; /* Center the pagination horizontally */
    padding: 20px 0; /* Adds padding above and below for spacing */
}

/* books.html */
section#book-listings {
    padding: 20px;
}

.book-box {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.book-box img {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.popup {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
}

.book-box:hover .popup {
    display: block;
}

/* Style for the book box container */
.book-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1000px; /* Adjust the maximum width as needed */
}

.book-box {
    width: calc(20% - 20px); /* 20% width with 20px margin */
    margin: 10px;
    position: relative;
    text-align: center;
}

/* Style for the book box image */
.book-box img {
    max-width: 100%;
    height: auto;
}

/* Style for the popup */
.popup {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1; /* Ensure popup is on top */
}

/* Style for the popup arrow */
.popup::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #ccc transparent transparent transparent;
}

/* Show the popup on hover */
.book-box:hover .popup {
    display: block;
}


/* map.html */
#map-container {
    height: 600px;
    width: 100%;
    margin-top: 20px;
    margin-left: 20px; /* Add margin to the left */
    margin-right: 20px; /* Add margin to the right */
}

#map {
    height: 600px;
    width: 95%;
    margin-left: 20px; /* Add margin to the left */
    margin-right: 20px; /* Add margin to the right */
}

.weather-container{
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 30px;
}

/* about.html */
.section {
    padding: 40px 20px;
    text-align: center;
}

.about-container {
    display: flex;
    flex-direction: column; /* Stacks the sections vertically */
    align-items: center; /* Centers the sections horizontally */
}

.about-section, .contact-section {
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin: 20px;
    padding: 20px;
    width: 60%;   
}

.about-container h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
}
