header {
    color: #333;
    text-align: center;
    padding: 8px;
    align-items: start;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

body::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url('bg_image.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    pointer-events: none; /* Ensures clicks pass through to elements below */
}

.container, .container-fluid {
    padding: 20px 15px; /* Consistent padding around the content */
}

.navbar {
    margin-bottom: 20px; /* Space below the navbar */
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}

nav a.active {
    color: #000;
}

.about-section, .contact-section {
    margin: 20px;
}

.container {
    display: grid;
    grid-template-columns: 10fr 20fr 1fr;
    gap: 30px; /* Space between the columns */
    margin-top: 20px;
    padding: 0 20px;
}

.book-list {
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 10px;
    margin: 0 10px 30px 10px;
}


.book-box-image {
    border: 0px solid #ccc; /* A thicker border for emphasis */
    border-radius: 0px; /* Rounded corners for the image */
    overflow: hidden; /* Ensures the border radius clips the image */
}

.book-box-image img {
    width: 100%; /* Ensure the image fills the container */
    height: auto; /* Maintain aspect ratio */
    transition: transform 0.3s ease; /* Smooth transformation on hover */
}

.book-box-image:hover img {
    transform: scale(1.05); /* Slight zoom on hover */
}

.book-title-slider {
    background-color: #fff; /* White background for contrast */
    border: 1px solid #ccc; /* Border to match the book box image */
    border-radius: 10px; /* Consistent border radius */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Subtle shadow for depth */
    padding: 15px;
    height: 500px; /* Fixed height with overflow for scrolling */
    overflow-y: auto; /* Allows for a scrolling effect */
}

.book-title {
    padding: 5px;
    margin: 5px 0;
    border-bottom: 1px solid #ccc; /* Separator for each title */
    transition: background-color 0.3s ease; /* Smooth background transition */
}

.book-title:hover {
    background-color: #f7f7f7; /* Highlight color on hover */
    cursor: pointer;
}

.book-box-map {
    height: 320px;
    width: 300px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    clear: both; /* Ensures footer is at the bottom after the flex/grid items */
}

#toggleAddBookForm {
    background-color: black;
    color: white;
    padding: 15px 15px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border: none;
    margin-left: 20px;
}
#toggleAddBookForm:hover {
    background-color: dimgrey;
}

#addBookFormContainer {
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 10px;
    margin: 0 10px 30px 10px;
}

#addBookFormContainer h2{
    margin-bottom: 20px;
    margin-left: 10px;
}

#addBookFormContainer label{
    margin: 10px;
}

#addBookFormContainer button{
    margin-top: 10px;
    margin: 10px;
}

@media (max-width: 768px) {
    .book-title-slider, .book-box-map {
        height: auto; /* Auto height on smaller screens */
    }
}

