
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    align-items: start;
}



.container {
    display: grid;
    grid-template-columns: 10fr 20fr 1fr;
    gap: 30px; /* Space between the columns */
    margin-top: 20px;
    padding: 0 20px;
}

.book-box-image {
    padding: 5px;
    border: 0px solid #ccc; /* A thicker border for emphasis */
    border-radius: 0px; /* Rounded corners for the image */
    overflow: hidden; /* Ensures the border radius clips the image */
}

.book-box-image img {
    width: 100%; /* Ensure the image fills the container */
    height: auto; /* Maintain aspect ratio */
    transition: transform 0.3s ease; /* Smooth transformation on hover */
}

.book-box-image:hover img {
    transform: scale(1.05); /* Slight zoom on hover */
}

.book-title-slider {
    background-color: #fff; /* White background for contrast */
    border: 1px solid #ccc; /* Border to match the book box image */
    border-radius: 10px; /* Consistent border radius */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Subtle shadow for depth */
    padding: 15px;
    height: 500px; /* Fixed height with overflow for scrolling */
    overflow-y: auto; /* Allows for a scrolling effect */
}

.book-title {
    padding: 5px;
    margin: 5px 0;
    border-bottom: 1px solid #ccc; /* Separator for each title */
    transition: background-color 0.3s ease; /* Smooth background transition */
}

.book-title:hover {
    background-color: #f7f7f7; /* Highlight color on hover */
    cursor: pointer;
}

.book-box-map {
    height: 320px;
    width: 300px;
    margin-top: 5px;
    margin-left: 20px; /* Add margin to the left */
    margin-right: 20px; /* Add margin to the right */


}

@media (max-width: 768px) {
    .book-title-slider, .book-box-map {
        height: auto; /* Auto height on smaller screens */
    }

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    clear: both; /* Ensures footer is at the bottom after the flex/grid items */
}
